- @omit_header = true

- content_for :page_title, "#{@page_title} - GOV.UK Registers"

- content_for :after_header do
  %header.header.header--without-border
    .header__container
      .header__brand{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Logo Clicked"}}
        = link_to root_path do
          %span.govuk-logo
            = image_tag 'gov_uk_logotype_crown_invert_trans.png', height: 32, width: 36, class: 'govuk-logo__printable-crown'
            /-
            GOV.UK
          /-
          %span.header__title
            Registers
            %span.phase-banner Alpha

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

- content_for :body_end do
  = javascript_include_tag 'application'
  = yield(:javascript)

- content_for :footer_support_links do
  %nav.footer-nav
    Built by the #{link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service', target: :blank, rel: "noopener noreferrer"}

= render file: 'layouts/govuk_template'
